name: Caller workflow
on:
  workflow_dispatch:
    inputs:
      environment:
        description: "environment"
        type: environment
        required: true
jobs:
  init:
    runs-on: ubuntu-latest
    name: "my test"
    environment: ${{ inputs.environment }}
    steps:
      - name: "Print vars"
        run: |
          if [[ '${{ secrets.DB_PASSWORD }}' == "DEV" ]]; then
            echo "This is development"
          elif [[ '${{ secrets.DB_PASSWORD }}' == "TEST" ]]; then
            echo "This is Testing"
          elif [[ '${{ secrets.DB_PASSWORD }}' == "DEMO" ]]; then
            echo "This is Demo env"
          else
            echo "Nothing is configured"
          fi
  another:
    needs: [ init ]
    uses: ./.github/workflows/my_workflow.yml
    secrets: inherit
